.formContainer{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.passwordArea{
    position: relative;
}

.passwordEyeIcon{
    position: absolute;
    right: 5px;
    top: 11px;
    font-size: 2rem;
    opacity: 0.7;
    cursor: pointer;
}


/* .signupText{
    align-self: center;
}

.btn{
    background-color: teal;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: max-content;
    border: none;
    margin: 10px auto 0;
    cursor: pointer;
    
} */