

.homebodyText{
    /* text-align: center; */
    margin: 1.5rem auto;
    /* margin-top: 1rem; */
    background-color: rgb(112, 113, 212);
    padding: 1rem;
    border-radius: 500px;
    width: max-content;
    /* margin-left: auto;
    margin-right: auto; */
}

.homebodyList{
    display: flex;
    width: 95vw;
    overflow: hidden;
    padding-bottom: 4rem;
}

.eachMovie{
    /* margin: 0 6px; */
    cursor: pointer;
}

.movieImg{
    max-width: 25rem;
    object-fit: cover;
}

.movieDesc{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}

:root {
    --swiper-navigation-size: 70px;
    --swiper-navigation-color: rgb(112, 113, 212);
  }
