.navbarWrapper{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 43, 43);
    box-shadow: -4px 18px 23px -2px rgba(133,124,124,0.68);
    height: 2rem;
    padding: 1.5rem;
}

.navbarLeft{
    flex: 1.5;
}

.navbarRight{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
}

.searchIcon{
    cursor: pointer;
}

.searchIcon:active{
    color: gray;
}

.navbarImg{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logoutbtn{
    background-color:rgb(112, 113, 212);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
}

/*============== MEDIA QUERIES (MEDIUM DEVICES) ie. tablets ============= */
@media screen and (max-width: 1024px) {

    .navbarRight{
        gap: 20px
    }

}


/*============== MEDIA QUERIES (SMALL DEVICES) ie. phones ============= */
@media screen and (max-width: 600px) {

    .navbarRight{
        gap: 12px
    }
    
    .logoutbtn {
        display: none;
    
    }
}
