.formContainer{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupText{
    align-self: center;
}

.btn{
    background-color: teal;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: max-content;
    border: none;
    margin: 10px auto 0;
    cursor: pointer;
    
}